body {
  margin: 0;
  padding: 0;
  background-color: #272827;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


main {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
  height: auto;
  margin: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
}

#text-container {
  width: 30%;
  margin: auto;
  justify-content: center;
}

#text-container h1 {
  color: #efa23b;
  font-family: "Jomhuria", sans-serif;
  font-size: 128px;
  font-weight: normal;
  margin: 0;
  line-height: 0.5;
}

#text-container p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  color: #dadae0;
  font-weight: lighter;
  font-style: italic;
}

#button-container button {
  background: #7e9dca;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}

#button-container button:hover {
  background: #5f82c0;
}

#button-container button a {
  text-decoration: none;
  color: #dadae0;
  font-family: "Josefin Sans", sans-serif;
}

#img-container {
  width: 65%;
}

#img-container img {
  width: 100%;
}