<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Informações - MoneyWise</title>
    <link
      rel="stylesheet"
      href="{{ url_for('home.static', filename='css/informations.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <nav>
        <a href="{{ url_for('home.home_page') }}">
          <img
            src="{{ url_for('home.static', filename='images/logo.png') }}"
            alt="Logo"
            class="logo"
          />
        </a>
        <ul>
          <li>
            <a href="{{ url_for('users.signin_page') }}" id="entrar">Entrar</a>
          </li>
          <li>
            <a href="{{ url_for('home.informations_page') }}" id="sobre"
              >Informações</a
            >
          </li>
          <li>
            <a href="{{ url_for('home.contact_page') }}" id="contato"
              >Contato</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div id="text-container">
        <h1 style="font-size: 80px">Sobre</h1>
        <p style="font-size: 24px">
          O MoneyWise é uma plataforma inovadora projetada para ajudar você a
          gerenciar suas finanças de maneira simples e inteligente. Nosso
          objetivo é transformar a forma como você lida com seu dinheiro,
          proporcionando ferramentas eficazes para controle de gastos,
          planejamento financeiro e alcance de metas.
        </p>
      </div>

      <div id="img-container">
        <img
          src="{{ url_for('home.static', filename='images/info_image.png') }}"
          alt="Imagem sobre finanças"
        />
      </div>
    </main>
  </body>
</html>
