<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('home.static', filename='css/navbar.css') }}">
</head>

<header>
  <nav>
    <div class="logo-container">
      <a href="{{ url_for('home.home_page') }}" class="logo-container">
    </div>
    <img src="{{ url_for('home.static', filename='images/logo.png') }}" class="logo" alt="Logo" />
    </a>
    <ul class="nav-links">
      <li><a href="{{ url_for('users.signin_page') }}">Entrar</a></li>
      <li><a href="{{ url_for('home.informations_page') }}">Informações</a></li>
      <li><a href="{{ url_for('home.contact_page') }}">Contato</a></li>
    </ul>
  </nav>
</header>