body {
  background-color: #272827;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#tela {
  background-color: #1f1f23;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: #ffffff;
}

#tela h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input[type="password"] {
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #d9d9d9;
  color: #000;
  font-size: 16px;
}

form button {
  background-color: transparent;
  border: 1px solid #d18c2e;
  color: #d18c2e;
  font-size: 18px;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #d18c2e;
  color: #0f1113;
}
