body {
  background-color: #272827;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #1f1f23;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: #ffffff;
}

.form-box h2 {
  margin-bottom: 10px;
}

.form-box p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #cccccc;
}

.form-box form {
  display: flex;
  flex-direction: column;
}

.form-box label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-box input[type="email"] {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #d9d9d9;
  color: #000;
}

.btn-recuperar {
  background-color: transparent;
  border: 1px solid #d18e33;
  color: #d18e33;
  font-size: 20px;
  padding: 15px 10px 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
}

.btn-recuperar:hover {
  background-color: #d18e33;
  color: #0f1113;
}

.voltar-login {
  margin-top: 20px;
}

.voltar-login a {
  color: #7e9dca;
  text-decoration: none;
  font-size: 14px;
}

.voltar-login a:hover {
  text-decoration: underline;
}
