<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Redefinir Senha - MoneyWise</title>
    <link
      rel="stylesheet"
      href="{{ url_for('users.static', filename='css/changing_password_page.css') }}"
    />
  </head>
  <body>
    <div id="tela">
      <h2>Redefinir Senha</h2>
      <form method="POST">
        <input
          type="password"
          name="nova_senha"
          placeholder="Nova Senha"
          required
        />
        <input
          type="password"
          name="confirmar_senha"
          placeholder="Confirmar Nova Senha"
          required
        />
        <button type="submit">Salvar Nova Senha</button>
      </form>
    </div>
  </body>
</html>
