<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Recuperar Senha</title>
    <link
      rel="stylesheet"
      href="{{ url_for('users.static', filename='css/reset_password_page.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="form-box">
        <h2>Recuperar Senha</h2>
        <p>Digite o seu e-mail cadastrado para redefinir sua senha.</p>

        <form method="POST">
          <label for="email">Digite seu email:</label>
          <input type="email" id="email" name="email" required />
          <button type="submit" class="btn-recuperar">
            Enviar email de recuperação
          </button>
        </form>

        <div class="voltar-login">
          <a href="{{ url_for('users.signin_page') }}">Voltar para o Login</a>
        </div>
      </div>
    </div>
  </body>
</html>
