body {
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #272827;
  margin: 15% auto;
  padding: 20px;
  width: 40%;
  border-radius: 5px;
}

.modal-content div {
  margin-bottom: 10px;
}

.filter-first-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.filter-first-row > * {
  width: 100%;
}

.filter-second-row {
  display: flex;
  flex-direction: column;
}

.filter-second-row > * {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.filter-third-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* .filter-fourth-row {
  display: flex;
  justify-content: space-between;
} */

.modal-content input,
select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
  background-color: #18181b;
  text-decoration: none;
  color: #9a9a9a;
  font-size: 20px;
  appearance: none;
}

.modal-content input:focus,
select:focus {
  outline: 2px solid #7e9dca;
}

.options-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.apply-btn {
  background-color: transparent;
  border: 1px solid #7e9dca;
  color: #7e9dca;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  display: block;
}

.apply-btn:hover {
  background-color: #7e9dca;
  color: #26262b;
}

.clear-btn {
  background-color: transparent;
  border: 1px solid #c3c3c3;
  color: #c3c3c3;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  display: block;
  margin: 0 0;
  text-align: center;
}

.clear-btn:hover {
  background-color: #c3c3c3;
  color: #26262b;
}
