<div id="filterModal" class="modal" onclick="closeFilterModal(event)">
  <div class="modal-content">
    <h2>Filtros</h2>
    <form action="{{ url_for('transactions.transactions_page') }}" method="GET">


      <div class="filter-first-row">
        <div>
          <label for="filter-type">Tipo</label>
          <select name="filter-type" id="filter-type">
            <option disabled selected value="">Selecione o Tipo</option>
            <option value="">-</option>
            <option value="income" {% if transactions_filters and transactions_filters['filter-type']=='income'
              %}selected{% endif %}>Receita</option>
            <option value="expense" {% if transactions_filters and transactions_filters['filter-type']=='expense'
              %}selected{% endif %}>Despesa</option>
          </select>
        </div>

        <div>
          <label for="filter-category">Categoria:</label>
          <select name="filter-category" id="filter-category">
            <option disabled selected value="">Selecione a Categoria</option>
            <option value="">-</option>
            <option value="Casa" {% if transactions_filters and transactions_filters['filter-category']=='Casa'
              %}selected{% endif %}>Casa</option>
            <option value="Entretenimento" {% if transactions_filters and
              transactions_filters['filter-category']=='Entretenimento' %}selected{% endif %}>Entretenimento</option>
            <option value="Estudos" {% if transactions_filters and transactions_filters['filter-category']=='Estudos'
              %}selected{% endif %}>Estudos</option>
            <option value="Viagem" {% if transactions_filters and transactions_filters['filter-category']=='Viagem'
              %}selected{% endif %}>Viagem</option>
            <option value="Saúde" {% if transactions_filters and transactions_filters['filter-category']=='Saúde'
              %}selected{% endif %}>Saúde</option>
            <option value="Mercado" {% if transactions_filters and transactions_filters['filter-category']=='Mercado'
              %}selected{% endif %}>Mercado</option>
          </select>
        </div>
      </div>

      <div class="filter-second-row">
        <label for="filter-date">Pesquisar Entre:</label>
        <div>
          <input type="date" id="filter-start-date" name="filter-start-date"
            value="{{ transactions_filters['filter-start-date'] if transactions_filters and transactions_filters['filter-start-date'] else '' }}">

          <input type="date" id="filter-end-date" name="filter-end-date"
            value="{{ transactions_filters['filter-end-date'] if transactions_filters and transactions_filters['filter-end-date'] else '' }}">
        </div>
      </div>

      <div class="filter-third-row">
        <div>
          <label for="filter-min-amount">Valor Mínimo:</label>
          <input type="text" id="filter-min-amount" name="filter-min-amount" placeholder="Digite um Valor"
            value="{{ transactions_filters['filter-min-amount'] if transactions_filters and transactions_filters['filter-min-amount'] else '' }}">
        </div>

        <div>
          <label for="filter-max-amount">Valor Máximo:</label>
          <input type="text" id="filter-max-amount" name="filter-max-amount" placeholder="Digite um Valor"
            value="{{ transactions_filters['filter-max-amount'] if transactions_filters and transactions_filters['filter-max-amount'] else '' }}">
        </div>
      </div>

      <div class="filter-fourth-row">
        <label for="filter-payment-method">Método de Pagamento</label>
        <select name="filter-payment-method" id="filter-payment-method">
          <option disabled selected value="">Selecione o Método de Pagamento</option>
          <option value="">-</option>
          <option value="debit" {% if transactions_filters and transactions_filters['filter-payment-method']=='debit'
            %}selected{% endif %}>Débito</option>
          <option value="credit" {% if transactions_filters and transactions_filters['filter-payment-method']=='credit'
            %}selected{% endif %}>Crédito</option>
          <option value="pix" {% if transactions_filters and transactions_filters['filter-payment-method']=='pix'
            %}selected{% endif %}>PIX</option>
          <option value="bank slip" {% if transactions_filters and
            transactions_filters['filter-payment-method']=='bank slip' %}selected{% endif %}>Boleto Bancário</option>
          <option value="other" {% if transactions_filters and transactions_filters['filter-payment-method']=='other'
            %}selected{% endif %}>Outro</option>
        </select>
      </div>

      <div class="options-container">
        <button type="submit" class="clear-btn" id="clearFilters">Limpar</button>
        <button type="submit" class="apply-btn">Filtrar</button>
      </div>
    </form>
  </div>
</div>