<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Lista de Transações</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
  <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="{{ url_for('transactions.static', filename='css/filter_modal.css') }}" />
  <link rel="stylesheet" href="{{ url_for('transactions.static', filename='css/transactions_list_page.css') }}" />

    <script src="{{ url_for('transactions.static', filename='js/filter_modal.js') }}"></script>
    <script src="{{ url_for('transactions.static', filename='js/search_transaction.js') }}"></script>
    <script src="{{ url_for('transactions.static', filename='js/transactions_list_page.js') }}"></script>
  </head>

  <body>
    <div class="sidebar">
      <div class="sidebar-content">
        <header class="header">
          <img
            src="static/images/white_logo.png"
            alt="MoneyWise Logo"
            class="logo"
          />
          <div class="user-info" onclick="toggleMenu(event)">
            <div class="user-info-content">
              <span>{{ current_user.name }}</span>
              <i class="bi bi-person-circle"></i>
            </div>
            <div id="user-menu" class="user-menu">
              <div class="transactions-option-contenct">
                <i class="bi bi-cash-stack"></i>
                <a href="{{ url_for('transactions.transactions_page') }}"
                  >Transações</a
                >
              </div>

            <div class="dashboards-option-contenct">
              <i class="bi bi-bar-chart"></i>
              <a href="{{ url_for('statistics.statistics_page') }}">Estatísticas</a>
            </div>

            <div class="profile-option-contenct">
              <i class="bi bi-person"></i>
              <a href="{{ url_for('users.profile_page') }}">Perfil</a>
            </div>

            <div class="settings-option-contenct">
              <i class="bi bi-gear"></i>
              <a href="#">Ajustes</a>
            </div>

            <div class="logout-option-contenct">
              <i class="bi bi-box-arrow-left"></i>
              <a href="{{ url_for('users.logout') }}">Logout</a>
            </div>
          </div>
        </div>
      </header>

      <div class="card green">
        <div class="card-header">
          <p>Receitas</p>
          <i class="bi bi-caret-up-square-fill"></i>
        </div>
        <h1 id="income-value">R$ 0</h1>
      </div>

      <div class="card red">
        <div class="card-header">
          <p>Despesas</p>
          <i class="bi bi-caret-down-square-fill"></i>
        </div>
        <h1 id="expense-value">R$ 0</h1>
      </div>

      <div class="card blue">
        <div class="card-header">
          <p>Saldo</p>
          <i class="bi bi-currency-dollar"></i>
        </div>
        <h1 id="total-value">R$ 0</h1>
      </div>

      <a class="new-transaction-btn" href="{{ url_for('transactions.transaction_create_page') }}">Nova Transação</a>
    </div>
  </div>
  <div class="container">
    <div class="search-container">
      <input type="text" id="search" placeholder="Busque uma Transação" />
      <button class="filter-button" id="filter-button">
        <i class="bi bi-funnel-fill"></i>
        Filtrar
      </button>
      {% include 'filter_modal.html' %}
    </div>
    <div class="transactions" id="transactions">
      {% if transactions %} {% for transaction in transactions %} {% if
      transaction.is_recurring %} {% for i in
      range(transaction.number_of_payments) %}
      <form action="{{ url_for('transactions.transaction_edit_page', transaction_id=transaction['transaction_id']) }}"
        method="GET">
        <div class="transaction-item" class="transaction-item" onclick="this.parentNode.submit();">
          <span class="transaction-name">{{ transaction.title }} {{ i+1 }}/{{
            transaction.number_of_payments }}</span>
          <span style="display: none" class="transaction-type">{{ transaction.transaction_type }}</span>
          <span class="transaction-amount {{ transaction.transaction_type }}">
            R$ {{ "%.2f"|format(transaction.amount /
            transaction.number_of_payments) }}
          </span>

          <span class="transaction-category" style="background-color: {{ category_colors[transaction.category] }}">{{
            transaction.category }}</span>
          <span class="transaction-date">{{ transaction.transaction_date }}</span>
        </div>
      </form>
      {% endfor %} {% else %}
      <form action="{{ url_for('transactions.transaction_edit_page', transaction_id=transaction['transaction_id']) }}"
        method="GET">
        <div class="transaction-item" onclick="this.parentNode.submit();">
          <span class="transaction-name">{{ transaction.title }}</span>
          <span style="display: none" class="transaction-type">{{ transaction.transaction_type }}</span>
          <span class="transaction-amount {{ transaction.transaction_type }}">
            R$ {{ "%.2f"|format(transaction.amount) }}
          </span>
          <span class="transaction-category" style="background-color: {{ category_colors[transaction.category] }}">{{
            transaction.category }}</span>
          <span class="transaction-date">{{ transaction.transaction_date }}</span>
        </div>
      </form>
      {% endif %} {% endfor %} {% else %}
      <p style="color: white; text-align: center">
        Nenhuma transação encontrada
      </p>
      {% endif %}
    </div>
  </div>
</body>

</html>