body {
  margin: 100px;
  background-color: #272827;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  gap: 0px;
  margin-bottom: 20px;

  img {
    width: 55px;
    height: 87px;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    color: #fff;
    gap: 20px;

    li {
      a {
        text-decoration: none;
        color: inherit;
        font-family: Josefin Sans;
        font-weight: 300;
        font-size: 34px;
        line-height: 64px;
      }
    }
  }
}

main {
  #text-container {
    padding-top: 14%;
    width: 40%;

    h1 {
      color: #efa23b;
      font-family: Jomhuria;
      font-weight: normal;
      font-size: 128px;
      margin: 0;
    }

    p {
      margin: 0;
      font-family: Josefin Sans;
      font-weight: 300;
      font-size: 36px;
      color: #fff;
    }

    #button-container {
      align-items: start;
      button {
        border-radius: 5px;
        border: none;
        font-family: Josefin Sans;
        font-size: 32px;
        background: #7e9dca;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        padding: 20px 40px;
        margin: 20px 0 0 0;
      }

      button a {
        text-decoration: none;
        color: inherit;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }

  #img-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    img {
      width: 1180px;
    }
  }
}
